* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialised;
}

:root {
    --almost-white: #fffdfa;
    --dark-blue: #00001a;
    --gumetal: #5e607a;
    --vermillion: #f15d51;
    --yellow: #e9aa52;
    --silver: #c5c6ce;
}

body {
    padding: 1.75rem 1rem;
    background-color: var(--almost-white);
}

body.menu-open::before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    /* rgba adiciona uma nova posição para mecher na opacidade */
    background-color: rgba(0, 0, 26, 0.5);
}

.header-mobile {
    display: flex;
    /* alinha no eixo principal (horizontal) */
    justify-content: space-between;
    /* eixo transversal (vertical) */
    align-items: center;

    margin-bottom: 2rem;
}

.header-mobile button {
    border: none;
    background: none;
    width: fit-content;
}

.header-mobile nav {
    position: fixed;
    background-color: var(--almost-white);
    right: 0;
    top: 0;
    height: 100vh;
    width: 16rem;
    /* z index = o eixo z (profundidade) */
    z-index: 999;

    display: flex;
    /* um em baixo do outro */
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;

    display: none;
}

.header-mobile nav button {
    align-self: flex-end;
    margin-bottom: 4rem;
}

/* a = âncoras */
.header-mobile nav a {
    text-decoration: none;
    color: var(--dark-blue);
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.primeira-secao {
    margin-bottom: 4rem;
}

.primeira-secao img {
    width: 100%;
    margin-bottom: 1.5rem;
}

.primeira-secao h1 {
    font-size: 2.5rem;
    /* 100% seria a msm coisa do font size */
    line-height: 100%;
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.primeira-secao p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: var(--gumetal);
    margin-bottom: 1.5rem;
}

.primeira-secao button {
    padding: 0.75rem 2rem;
    background-color: var(--vermillion);
    border: none;
    text-transform: uppercase;
    color: var(--almost-white);
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.275rem;
    line-height: 1.5rem;
}

.segunda-secao {
    background-color: var(--dark-blue);
    margin-bottom: 4rem;
    padding: 1.5rem 1.1rem;
}

.margin-border-padding {
    border-bottom: 1px solid var(--gumetal);
    margin-bottom: 1.75rem;
    padding-bottom: 1.75rem;
}

.segunda-secao h2 {
    color: var(--yellow);
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 2.2rem;
}

.segunda-secao h3{
    color: var(--almost-white);
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.segunda-secao p {
    color: var(--silver);
    font-size: 0.9375rem;
    line-height: 1.625rem;
}

/* seleciona apenas as divs filhas diretas da terceira secao */
.terceira-secao > div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.terceira-secao img {
    max-width: 6.25rem;
}

.terceira-secao strong {
    color: var(--silver);
    font-size: 2rem;
    line-height: 100%;
}

.terceira-secao h2 {
    color: var(--dark-blue);
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5rem;
    margin-block: 0.6rem;
}

.terceira-secao p {
    color: var(--gumetal);
    font-size: 0.9375rem;
    line-height: 1.625rem;
}